<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
</head>
<body>
    <h1>peoples</h1>
    <table border="1">
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Process</th>
            <th>Picture</th>
        </tr>

        {% for person in people %}
        <tr>
            <th>{{forloop.counter}}</th>
            <th>{{person.Name}}</th>
            <th>{{person.Category}}</th>
            <th>{{person.Description}}</th>
            <th>{{person.Ingredients}}</th>
            <th>{{person.Process}}</th>
            <th>{{person.Picture}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>